a {
	text-decoration: none;
	color: #292929;
}

a:hover {
	color: #F7922D;
	transition: color 200ms linear;
}


.center {
	position: relative;
	margin: 0 auto;
	width: 55%;
	font-family: "Alegreya Sans";
	padding: 60px 0;
}

.nopad {
	padding: 0px;
}

#bigk {
	display: block;
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	padding-top: 20%;
}

#logo {
	position: relative;
	overflow: hidden;
	background-color: #536E80;
	color: white;
}

#logo-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: -50px; /* get the overflow hidden working */
	padding: 50px;

	background-image: url("sf.jpg");
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

@media DISABLED {
	.fade {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		z-index: 2; /* on top of bg */
		background-color: #FFF;
		opacity: 0.4;
		filter: alpha(opacity=40); /* ie8 */
	}
}

#about {
	background: #F7922D;
	color: #FFF;
}

#projects {
	background-color: #f0dd71;
}

#design {
	background-color: #bd5259;
	color: #FFFFFF;
}

#contact {
	background-color: #292929;
	color: #FFFFFF;
}

#nameplate {
	font-weight: 800;
	font-size: 36px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #F7922D;
}

#credit {
	font-size: 12px;
	margin-top: 50px;
}

nav a {
	font-family: "Oswald", sans-serif;
	color: #FFFFFF;
	font-size: 24px;
}

nav {
	text-align: center;
	width: 100%;
	padding-bottom: 10px;
}

nav.sticky {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	background-color: #FFF;
	transition: background-color 200ms linear;
	z-index: 99999;
}

nav.sticky a {
	color: #666666;
}

nav.sticky a.active {
	color: #F7922D;
	transition: color 200ms linear;
}

nav ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
nav li {
	display: inline;
}

h1 {
	font-size: 72px;
	margin: 0;
}

h2 {
	margin: 0;
}

p {
	margin-top: 0;
}

.arrow-up {
	position: relative;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;

	/* border-bottom: 10px solid #F7922D; */
	margin-top: -10px;

	left: 22.5%;
}

.orange {
	border-bottom: 10px solid #F7922D;
}

.white {
	border-bottom: 10px solid #FFF;
}

.yellow {
	border-bottom: 10px solid #f0dd71;
}

.winered {
	border-bottom: 10px solid #bd5259;
}

.circle {
	border: 8px solid #000;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px; /* same as height to vert center */
	font-size: 32px;

	user-select: none;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;

	color: black;
}

.cwhite {
	border: 8px solid #FFF;
}

.left {
	float:left;
	margin-right: 10px;
}

.right {
	float:right;
	margin-left: 10px;
}

/* Text modifiers */
b {
	font-weight: 800;
}

.tright {
	text-align: right;
}

.tcenter {
	text-align: center;
}

.tdark {
	color: #292929;
}

/* images */
.image {
	display: inline-block;
	width: 26%;
	margin: 3% 3%;
	background-position: center;
	background-size: cover;
	padding-bottom: 28%;
	height: 0;

	border: 3px solid white;
	border-radius: 5px;
}

.image0 {
	background-image: url("i/p0s.png");
}

.image1 {
	background-image: url("i/p1s.png");
}

.image2 {
	background-image: url("i/p2s.png");
}

.image3 {
	background-image: url("i/p3s.png");
}

.image4 {
	background-image: url("i/p4s.png");
}

.image5 {
	background-image: url("i/p5s.png");
}

.image6 {
	background-image: url("i/p6s.png");
}

.image7 {
	background-image: url("i/p7s.png");
}

.image8 {
	background-image: url("i/p8s.png");
}

.icon {
	width: 17%;
	margin: 2% 8%;
	display: inline-block;
	text-align: center;
}

.icon img {
	width: 100%;
	margin: 0 auto;
}

.icon a {
	color: white;

}


body {
	margin: 0;
	font-weight: 400;
}