.center {
	position: relative;
	margin: 0 auto;
	width: 50%;
	font-family: "Alegreya Sans";
	padding: 25px 0;
	z-index: 9;
}

.nopad {
	padding: 0px;
}

.about {
	background: #F7922D;
	color: #FFF;
}

.projects {
	background-color: #FCEFB6;
}

.logo {
	position: relative;
	overflow: hidden;
	background-color: #536E80;
	color: white;
	z-index: 0;
}

.logo-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	top: 0;
	left: 0;
	margin: -50px; /* get the overflow hidden working */
	padding: 50px;

	background-image: url("sf.jpg");
	background-size: 100%;

	filter: blur(25px);
		-webkit-filter: blur(25px);
		-moz-filter: blur(25px);
		-o-filter: blur(25px);
		-ms-filter: blur(25px);
}

.fade {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	z-index: 2; /* on top of bg */
	background-color: #FFF;
	opacity: 0.4;
	filter: alpha(opacity=40); /* ie8 */
}

.contact {

}

.navlink {
	font-family: "Oswald", sans-serif;
	text-decoration: none;
	color: #555555;
	font-size: 24px;
}

.nav {
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 72px;
	margin: 0;
}

h2 {
	margin: 0;
}

p {
	margin-top: 0;
}

.arrow-up {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;

	/* border-bottom: 10px solid #F7922D; */
	margin-top: -10px;
	z-index: 10;
}

.orange {
	border-bottom: 10px solid #F7922D;
}

.white {
	border-bottom: 10px solid #FFF;
}

.sheebo {
	border-bottom: 10px solid #FCEFB6;
}

.navy {
	border-bottom: 10px solid #536E80;
}

.circle {
	border: 8px solid #000;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px; /* same as height to vert center */
	font-size: 32px;
}

.cwhite {
	border: 8px solid #FFF;
}

.left {
	float:left;
	margin-right: 10px;
}

.right {
	float:right;
	margin-left: 10px;
}

.tright {
	text-align: right;
}

body {
	margin: 0;
}