---
layout: default
title: blog
---
<script type="text/javascript" src="/js/nav.js"></script>
<header id="blog_sidebar">
  <div id="sidebar_vcenter">
    <div id="sidebarlogo" class="tcenter"><img src="/i/kml.png" id="sidebark"></div>
    <nav>
      <ul>
        {% for post in site.posts limit: 5 %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
          <p>{{ post.excerpt }}</p>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>

<div id="blogwrap">
  <div id="blogcontent">
    <div class="blog_center">{{ content }}</div>
  </div>
</div>