<!DOCTYPE html>
<html lang="en">
<head>
  <title>Kevin M. Lee - {{ page.title }}</title>
  <link rel="stylesheet" href="/kml.css">
  <link rel="stylesheet" href="/jquery.fancybox.css">

  <link rel="shortcut icon" href="/kml.ico">

  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:400,400italic,800' rel='stylesheet' type='text/css'>

  <script src="/js/jquery-1.10.2.min.js"></script>

  <base target="_blank">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
{{ content }}
</body>
</html>